@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {
  --hackstore-bg: rgb(17, 141, 172);
}

body,
html {
  background: #89909f;
  font-size: 12px;
  height: 100vh;
  margin: 0;
  font-family: "Zen Dots", cursive;
}

/**home**/
.site-wrap {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.site-nav {
  background: var(--hackstore-bg);
  color: white;
  display: flex;
  flex-direction: column;

  a {
    color: inherit;
  }

  ul {
    margin-bottom: auto;
    li {
      a {
        display: block;
        padding: 0.75rem 0.5rem 0.75rem 2rem;
        position: relative;
        &:hover,
        &:focus {
          color: #111;
        }
      }
      &.active > a {
        background: linear-gradient(to right, #101b2d, transparent);
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background: #4676cd;
          width: 5px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
    ul {
      padding-left: 1rem;
      margin-bottom: 0.5rem;
      a {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
      }
    }
  }
}

.note {
  width: calc(100% - 6rem);
  margin-right: 1rem;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
  background: #171c26;
  border-radius: 10px;
  padding: 1rem;
  h3 {
    font-size: 0.9rem;
    margin: 0 0 0.4rem 0;
  }
  p {
    color: #717783;
  }
}

.name {
  font-size: 1.3rem;
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 0 2.5rem 0.5rem 2rem;
  width: calc(100% - 3rem);
  svg {
    position: absolute;
    fill: white;
    width: 16px;
    height: 16px;
    right: 0;
    top: 7px;
  }
  &::after {
    content: "";
    width: 8px;
    height: 8px;
    background: #4777ce;
    border-radius: 20px;
    position: absolute;
    top: 6px;
    right: -2px;
  }
}

main {
  border-top-left-radius: 2rem;
  background: #ebecee;
  margin-left: -2rem;
  position: relative;
  > header {
    padding: 3rem 3rem 0 3rem;
  }
}

.content-columns {
  padding: 3rem;
  display: flex;
  background: #e5e5e9;
  .col {
    min-height: 500px;
    width: 200px;
    padding: 1rem;
    background: #ebecee;
    margin-right: 1rem;
    box-shadow: 0 0 5px rgba(black, 0.04);
    border-radius: 5px;
    &:nth-child(1) {
      border-top: 4px solid #50aaee;
    }
    &:nth-child(2) {
      border-top: 4px solid #d56ec7;
    }
    &:nth-child(3) {
      border-top: 4px solid #e37e55;
    }
    &:nth-child(4) {
      border-top: 4px solid #ebbd41;
    }
  }
}

.item {
  background: white;
  box-shadow: 0 2px 4px rgba(black, 0.07);
  min-height: 50px;
  border-radius: 5px;
  margin: 0 0 0.5rem 0;
}

.nav-tabs {
  a {
    margin-right: 2rem;
    display: inline-block;
    padding: 1rem 0 1rem 0;
    font-size: 1.15rem;
    color: #8c939e;
    position: relative;
    &.active {
      color: #101620;
      font-weight: 600;
      span {
        background: #d9dfea;
        color: #5887d1;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #457ace;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
    }
    span {
      border-radius: 10px;
      font-size: 0.8rem;
      padding: 0.25rem 0.4rem;
      font-weight: 600;
      vertical-align: middle;
      position: relative;
      top: -2px;
      background: #dfe0e2;
      color: #868d99;
    }
  }
}

// sets

$gl-ms: "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs: "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm: "screen and (max-width: 48em)"; // max 768px
$gl-md: "screen and (max-width: 64em)"; // max 1024px
$gl-lg: "screen and (max-width: 80em)"; // max 1280px

// table style

table {
  border-spacing: 1;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  overflow-y: auto;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  * {
    position: relative;
  }

  td,
  th {
    padding-left: 8px;
    font-weight: bolder;
  }

  thead tr {
    height: 60px;
    background: #ffed86;
    font-size: 16px;
  }

  tbody tr {
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
    &:last-child {
      border: 0;
    }
  }

  td,
  th {
    text-align: left;
    border-right: 0.5px solid;
    border-bottom: 0.5px solid #111;
    &.l {
      text-align: right;
    }
    &.c {
      text-align: center;
    }
    &.r {
      text-align: center;
    }
  }
}

@media #{$gl-xs} {
  table {
    display: block;
    > *,
    tr,
    td,
    th {
      display: block;
    }

    thead {
      display: none;
    }
    tbody tr {
      height: auto;
      padding: 8px 0;
      td {
        padding-left: 45%;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          position: absolute;
          font-weight: 700;
          width: 40%;
          left: 10px;
          top: 0;
        }

        &:nth-child(1):before {
          content: "Code";
        }
        &:nth-child(2):before {
          content: "Stock";
        }
        &:nth-child(3):before {
          content: "Cap";
        }
        &:nth-child(4):before {
          content: "Inch";
        }
        &:nth-child(5):before {
          content: "Box Type";
        }
      }
    }
  }
}

// body style

body {
  background: #9bc86a;
  font: 400 14px "Calibri", "Arial";
}

blockquote {
  color: #111;
  text-align: center;
}

#add-record {
  overflow: hidden;
  position: relative;
  float: right;
  cursor: pointer;
  margin: 10px;
  margin-right: 3.1rem;
  padding: 10px 30px;
  border: 1px solid #f85f5f;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5),
    2px 2px 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5),
    2px 2px 6px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5),
    2px 2px 6px rgba(0, 0, 0, 0.6);
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMDcwNDI4IiB5MT0iMC42MDA1ODIiIHgyPSItMC4wNzA0MjgiIHkyPSIwLjM5OTQxOCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g"),
    url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZWFlYSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZmI5YTlhIi8+PHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmODVmNWYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjlkOWQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=");
  background-size: 100%;
  background-image: linear-gradient(
      -80deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.05) 60%
    ),
    -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feeaea), color-stop(25%, #fb9a9a), color-stop(85%, #f85f5f), color-stop(100%, #fb9d9d));
  background-image: -moz-linear-gradient(
      170deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.05) 60%
    ),
    -moz-linear-gradient(#feeaea, #fb9a9a 25%, #f85f5f 85%, #fb9d9d);
  background-image: -webkit-linear-gradient(
      170deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.05) 60%
    ),
    -webkit-linear-gradient(#feeaea, #fb9a9a 25%, #f85f5f 85%, #fb9d9d);
  background-image: linear-gradient(
      -80deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.05) 60%
    ),
    linear-gradient(#feeaea, #fb9a9a 25%, #f85f5f 85%, #fb9d9d);
  background-repeat: repeat-x;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
}
#add-record:active {
  background-color: #fa8181;
  background-image: none;
  -moz-box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.15),
    2px 2px 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.15),
    2px 2px 6px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.15),
    2px 2px 6px rgba(0, 0, 0, 0.6);
}

#home- {
  text-decoration: none;
  font-size: 1.7rem;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
.login {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8dc26f);
  background: -moz-linear-gradient(right, #76b852, #8dc26f);
  background: -o-linear-gradient(right, #76b852, #8dc26f);
  background: linear-gradient(to left, #76b852, #8dc26f);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-title {
  text-align: center;
  font-size: 1.5rem;
}

.login-err {
  text-align: center;
  color: rgb(209, 31, 31);
  font-weight: bold;
  letter-spacing: 0.12em;
  text-shadow: 1px -1px 0 rgb(219, 76, 76);
}

.reset-text {
  color: #111;
}

.email-recover {
  color: rgb(71, 71, 221);
}

#passwordnew-err,
#passwordnew-err-c {
  display: none;
  font-weight: 300;
  letter-spacing: normal;
  text-shadow: none !important;
}

.alert {
  padding: 20px;
  color: white;
  text-align: center;
}

.alert_fail {
  background-color: #f44336;
  padding: 20px;
  text-align: center;
}

.alert_success {
  background-color: #36f436;
  padding: 20px;
  text-align: center;
}

/***add page***/
#add-title {
  padding: 1rem;
  margin: 1rem;
}

#date {
  width: 70vw;
  box-sizing: border-box;
  display: block;
  margin: 2rem;
  padding: 0.3rem 0.2rem;
  border: 2px solid #e9ebeb;
  border-radius: 4px;
  background: #fff;
  color: #0e1e25;
  box-shadow: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.dr_input {
  width: auto;
  box-sizing: border-box;
  display: block;
  margin: 2rem;
  padding: 0.3rem 0.2rem;
  border: 2px solid #e9ebeb;
  border-radius: 4px;
  background: #fff;
  color: #0e1e25;
  box-shadow: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.inner_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 1rem;
}

.cyber-record,
.ps-record,
.movie-record,
.sales-record,
.expenses-record,
.total-record {
  border-right: 1px solid #4676cd;
  border-left: 1px solid #4676cd;
  border-top: 1px solid #4676cd;
  padding: 0.5rem;
}

.cyber-record p,
.ps-record p,
.movie-record p,
.sales-record p,
.expenses-record p,
.total-record p {
  text-align: center;
  font-weight: bold;
}

.add-expense,
.add-product {
  width: 40px;
  box-sizing: border-box;
  display: block;
  margin: 2rem;
  padding: 0.3rem 0.2rem;
  border: 2px solid #e9ebeb;
  border-radius: 4px;
  background: #4caf50;
  color: #0e1e25;
  box-shadow: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.save-record {
  float: right;
  display: block;
  background-color: #68c950;
  border-radius: 4px;
  color: #fff;
  box-shadow: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  margin-right: 5%;
  outline: none;
  border: none;
}

.save-record:hover {
  background-color: #6fd854;
}

/**movie shop**/

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
  }

  td {
    display: block;

    &:first-child {
      padding-top: 0.5em;
    }
    &:last-child {
      padding-bottom: 0.5em;
    }

    &:before {
      content: attr(data-th) ": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

  th,
  td {
    text-align: left;

    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: 0.25em 0.5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

/* h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495e;
} */

.movie-title {
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
}

.movieshop main,
.playstation main,
.cyber main {
  padding: 1rem;
}

.rwd-table {
  padding: 1rem;
  background: #34495e;
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
  padding: 1rem;
  tr {
    border-color: lighten(#34495e, 10%);
  }
  th,
  td {
    margin: 0.5em 1em;
    @media (min-width: $breakpoint-alpha) {
      padding: 1em !important;
    }
  }
  th,
  td:before {
    color: #dd5;
  }
}

#fiter-movieshop,
#filter-playstation,
#filter-cyber,
#filter-filterReport {
  width: 50vw;
}

.todo {
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.todo label {
  margin-top: 3.5rem;
  color: rgb(27, 24, 24);
}

fieldset {
  border: none;
  width: 100%;
  height: 100px;
  margin: auto;
  display: flex;
}

#filter-movie-date {
  display: flex;
}

/**error 404 page*/
.__notFound {
  background-color: #2f3242;
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #fff;
  font-family: Roboto;
  font-weight: 300;
}
.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}
.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  background: #68c950;
  padding: 8px 25px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}
.buttons-con .action-link-wrap a:hover {
  background: #5a5c6c;
  color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: 0.2s;
}
#Polygon-3 {
  animation-delay: 0.4s;
}
#Polygon-4 {
  animation-delay: 0.6s;
}
#Polygon-5 {
  animation-delay: 0.8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}

.addItem main {
  background-color: #f9f9f9;
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.payment-title {
  width: 100%;
  text-align: center;
}

.payment-title {
  width: 100%;
  text-align: center;
}

.form-container .field-container:first-of-type {
  grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
  grid-area: security;
}

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  position: relative;
}

.form-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name" "number number" "expiration security";
  max-width: 400px;
  padding: 20px;
  color: #707070;
}

.addItem label {
  padding-bottom: 5px;
  font-size: 13px;
}

.addItem input {
  margin-top: 3px;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px;
}

/* CREDIT CARD IMAGE STYLING */

.container {
  width: 100%;
  max-width: 400px;
  max-height: 251px;
  height: 54vw;
  padding: 20px;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

#generatecard {
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* FLIP ANIMATION */
.container {
  perspective: 1000px;
}

.add-inventory {
  width: 100% !important;
  display: block !important;
  background: black !important;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#product-avatar {
  width: 40%;
}
